/* Imported fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

/* style all */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Varela', sans-serif;
}

/* style the header element */
header{
    display: flex;
    background-color: rgba(0, 0, 0, 0.45);
    justify-content: space-between;
}

/* style logo */
.logo{
    font-family: 'Ubuntu', sans-serif;
    color: snow;
    font-size: 10px;
    text-decoration: none;
    padding-left: 100px;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* style nav-content */
.nav-content{
    display: flex;
    list-style-type: none;
    padding: 0px 50px;
}

/* style nav-items */
.nav-items{
    padding: 5px 50px;
}

/* style nav-items a */
.nav-items a{
    text-decoration: none;
    color: snow;
}