/* Imported fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

/* style all */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Varela', sans-serif;
}

/* style the header element */
header{
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

/* style logo */
.logo{
    font-family: 'Ubuntu', sans-serif;
    color: snow;
    font-size: 10px;
    text-decoration: none;
    padding-left: 130px;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* style nav-content */
.nav-content{
    display: flex;
    list-style-type: none;
    padding: 0px 110px;
}

/* style nav-items */
.nav-items{
    padding: 5px 60px;
}

/* style nav-items a */
.nav-items a{
    text-decoration: none;
    color: snow;
    font-weight: 20;
    font-family: 'Ubuntu', sans-serif;
}

/* style cart icon */
ion-icon{
    font-size: 20px;
    padding-left: 120px;
}

/* style display-page */
.display-page{
    text-align: center;
    padding: 200px 0px 200px 0px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Images/tea-plantation.jpg);
    background-size: cover;
    width: 100%;
    font-size: 30px;
    color: snow;
}

/* style more-info-container */
.more-info-container{
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* style more-info-container h2 */
.more-info-container h2{
    text-align: center;
    font-family: 'Ubuntu' sans-serif;
}

/* stlye content1-container */
.content1-container{
    display: flex;
    padding-top: 30px;
}

/* style c1-text */
.c1-text{
    float: left;
    text-align: center;
    padding: 15px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 1px 5px rgb(90, 90, 90);
    border-left: 0px;
}

/* style image in c1-img */
 .c1-img img{
    width: 50%;
    height: auto;
    float: left;
    padding-left: 90px;
    border-radius: 10px;
}

